@tailwind base;
@tailwind components;
@tailwind utilities;
/* styles/global.css */

.carousel-control-prev,
.carousel-control-next {
  top: 75% !important; /* Adjust as needed */
}

.carousel-control-prev {
  left: 87% !important; /* Adjust as needed */
}

.carousel-control-next {
  left: 90% !important; /* Adjust as needed */
}

.carousel-control-ui {
  left: 93% !important; /* Adjust as needed */
}

body .carousel-control-prev,
body .carousel-control-next {
  justify-content: flex-start; /* or any other value that you want */
  margin-left: 4% !important; /* Adjust as needed */
}

.custom-slider-ui-control {
    position: absolute;
    bottom: 5%; /* Match with the top position of the prev/next buttons */
    left: 65%; /* Center it horizontally */
    z-index: 50; /* Set the z-index to ensure it doesn't overlap with other elements */
    cursor: pointer;
  }

  .carousel-control-prev, .carousel-control-next {
    display: none !important;
  }
  
  /* Hide default indicators */
.custom-carousel .carousel-indicators {
  display: none !important;
}

/* Add this to your CSS file */

.white-logo {
  filter: brightness(0) invert(1);
}

::-webkit-scrollbar {
  width: 10px; /* for vertical scrollbars */
  height: 10px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-thumb {
  background: black; /* thumb color */
  border-radius: 10px; /* round edges */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* color when hovered */
}

.vehicle-list {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: black transparent; /* For Firefox */
}

/* For WebKit browsers */
.vehicle-list::-webkit-scrollbar {
  height: 10px;
}

.vehicle-list::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}

.vehicle-list::-webkit-scrollbar-thumb:hover {
  background: #555;
}


/* For Webkit (Chrome, Safari, etc.) */
.nav-scrollbar::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
.nav-scrollbar {
  scrollbar-width: none;
}

/* For Internet Explorer and Edge */
.nav-scrollbar {
  -ms-overflow-style: none;
}
