@tailwind base;
@tailwind components;
@tailwind utilities;
/* styles/global.css */

.carousel-control-prev,
.carousel-control-next {
  top: 75% !important; /* Adjust as needed */
}

.carousel-control-prev {
  left: 87% !important; /* Adjust as needed */
}

.carousel-control-next {
  left: 90% !important; /* Adjust as needed */
}

.carousel-control-ui {
  left: 93% !important; /* Adjust as needed */
}

body .carousel-control-prev,
body .carousel-control-next {
  justify-content: flex-start; /* or any other value that you want */
  margin-left: 4% !important; /* Adjust as needed */
}

.custom-slider-ui-control {
    position: absolute;
    bottom: 5%; /* Match with the top position of the prev/next buttons */
    left: 65%; /* Center it horizontally */
    z-index: 50; /* Set the z-index to ensure it doesn't overlap with other elements */
    cursor: pointer;
  }

  .carousel-control-prev, .carousel-control-next {
    display: none !important;
  }
  
  /* Hide default indicators */
.custom-carousel .carousel-indicators {
  display: none !important;
}

/* Add this to your CSS file */
.hover-grow:hover {
  transform: scale(1.1); /* Adjust scale value to how much you want the icon to grow */
  transition: transform 0.3s; /* Smooth transition for the transform */
}

.white-logo {
  filter: brightness(0) invert(1);
}
